


header {display: flex;
  flex-direction: row;
  height: 6em;
  justify-content: space-between;
  background-color: lightblue;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;}

  .headleft img {height: 5em;}

body{display: flex;
  flex-direction: column;
  align-items: center;}

/*Homepage*/

.homebox{display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px black solid;
  justify-content: center;
  align-items: center;}

.box{display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px black solid;
  justify-content: center;
  align-items: center;}

  .boxguts{display: flex;
    flex-direction: row;
    border: solid blue 3px;
    width:100%;
    height: 18em;}


  .boxleft{width: 35%;
    margin: 1em;
    border: solid green 3px;}
  .boxright{display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:60%;
    margin: 1em;
    border: solid purple 3px;}

  .boxnode{height: 45%;
    background-color: khaki;}
